<div class="floating-wpp">
    <img [src]="whatsappIcon" alt="WhatsApp" (click)="togglePopup()" />

    @if(isPopupOpen){
    <div class="popup">
        <div class="chat__header">
            <img src="assets/img/usuario.png" alt="Logo foto">
            <div class="chat__header--texto">
                <p>Alex Garcia</p>
                <p><span>En linea</span></p>
            </div>
            <button (click)="togglePopup()">X</button>
        </div>
        <div class="chat__body">
            <div class="chat__body--fondo">
                <div class="burbuja">
                    <p>¡Hola! ¿En qué puedo ayudarte?</p>
                </div>
            </div>
        </div>

        <div class="chat__footer">
            <div class="chat__footer--fondo">
                <textarea name="mensaje" id="mensaje"
                    placeholder="Escribe tu mensaje.">¡Hola! Estoy interesado en tus servicios.</textarea>
            </div>

            <div class="btn-whatsapp">
                <a type="submit" [href]="whatsappLink" target="_blank">
                    <img src="assets/img/enviar.png" alt="Logo Enviar">
                </a>
            </div>

        </div>
    </div>
    }
</div>