@use "base/variables" as v;

.separador__lineas {
   height: 20rem;

  &--linea1 {
    background-color: v.$rosa-secundario;
    transform: rotate(4deg);
}
&--linea2 {
    background-color: v.$morado-secundario;
    transform: rotate(-4deg);
     margin: -2.1rem 0;
  }

  .lineas {
    display: flex;
    justify-content: space-around;

    p {
      font-size: 1.2rem;
      font-weight: v.$bold;
      opacity: .6;
    }
  }
}
