<div class="separador__lineas">
    <div class="separador__lineas--linea1">
        <div class="contenedor">
            <div class="lineas">
                <p>SASS</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>Api's Rest</p>
                <p>Mysql</p>
                <p>Postman</p>
                <p>LARAVEL</p>
                <p>JAVA</p>
            </div>
        </div>
    </div>
    <div class="separador__lineas--linea2">
        <div class="contenedor">
            <div class="lineas">
                <p>Ingeniería Informatica</p>
                <p>Spring Boot</p>
                <p>Desarrollador Back-end</p>
                <p>Git</p>
            </div>
        </div>
    </div>
</div>