<div class="">
    <section class="contenedor__sobreMi">
        <h2>Sobre Mi</h2>

        <div class="contenedor sobreMi">

            <div class="sobreMi__info">
                <div class="contenedor">
                    <div class="sobreMi__info--redes">
                        <a class="alinear-redes" href="https://github.com/Alex-Gar">
                            <div class="circulo barra"></div>
                            <img src="assets/img/github.png" alt="Logo GutHub">
                            <p>https://github.com/Alex-Gar</p>
                        </a>
                        <a class="alinear-redes" href="www.linkedin.com/in/alex-garcia-desback">
                            <div class="circulo"></div>
                            <img src="assets/img/linkedin.png" alt="Logo Linkedin">
                            <p>www.linkedin.com/in/alex-garcia-desback</p>
                        </a>
                        <a class="alinear-redes" href="">
                            <div class="circulo"></div>
                            <img src="assets/img/gmail.png" alt="Logo Gmail">
                            <p>ale.ag538{{'@'}}gmail.com</p>
                        </a>
                    </div>

                    <div class="sobreMi__info--texto">
                        <p>
                            Soy <span>ingeniero en informática</span>, <span>desarrollador backend</span> apasionado por
                            resolver problemas tecnológicos
                            y crear soluciones que marquen la diferencia. He participado en proyectos que optimizan
                            procesos
                            y
                            mejoran la eficiencia.
                        </p>
                        <p>
                            Durante mi trayectoria, he desarrollado sistemas que combinan creatividad y funcionalidad
                            utilizando
                            arquitecturas como la de <span> microservicios</span>, lo que permite construir aplicaciones
                            escalables, modulares
                            y alineadas con las mejores prácticas de la industria.
                        </p>
                        <p>
                            Además de mis habilidades técnicas en desarrollo backend, también poseo conocimientos
                            sólidos en
                            <span>HTML</span>, <span>CSS</span>, <span>JavaScript</span> y frameworks modernos como
                            Sass, lo
                            que
                            me permite colaborar en proyectos
                            <span>frontend</span> cuando es necesario.
                        </p>
                    </div>
                </div>
            </div>

            <div class="">
                <section class="educacion">
                    <h3>Educación</h3>

                    <div class="educacion--lista">
                        <div class="elementos">
                            <div class="circulo barra"></div>
                            <p>ITSPerote</p>
                        </div>
                        <div class="elementos">
                            <div class="circulo"></div>
                            <p>ONE Oracle Next Education</p>
                        </div>
                    </div>
                </section>

                <section class="experiencia">
                    <h3>Experiencia</h3>

                    <div class="experiencia--lista">
                        <div class="lugar">
                            <div class="circulo barra"></div>
                            <div class="">
                                <p><span class="fecha">Enero 2024 - Enero 2025</span></p>
                                <p><span class="titulo">Secretaria de Educación de Veracruz</span></p>
                                <p><span class="texto">Desarrollador Back-end, Trabajando con tecnologias como:
                                        <ul>
                                            <li>Java, Spring boot, Microservicios, SQL Server, Apis Rest</li>
                                        </ul>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="lugar">
                            <div class="circulo"></div>
                            <div class="">
                                <p><span class="fecha">Octubre 2023</span></p>
                                <p><span class="titulo">ITSPerote</span></p>
                                <p><span class="texto">Se desarrollo un sistema de registro para alumnos generando
                                        un código QR, para su posterior quemado en su asistencia a los eventos,
                                        Trabajando con tecnologías como:
                                        <ul>
                                            <li>PHP, JavaScript, CSS y HTML </li>
                                        </ul>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div class="gradiente"></div>
</div>